{% extends "general/layout.html" %}

{% block head_title %}Home{% endblock %}

{% block content %}
    <section class="bg-white rounded-2xl shadow-sm border border-gray-100 overflow-hidden mt-8">
        <div class="py-16 px-4 mx-auto max-w-screen-xl text-center lg:py-24 lg:px-12">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl">
                Bienvenido a Booking Manager tu gestor de espacios comunes de tu comunidad
            </h1>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">
                En Booking Manager, nos dedicamos a facilitar la gestión de espacios comunes en tu comunidad. Nuestra plataforma intuitiva y fácil de usar te permite reservar, administrar y coordinar el uso de áreas compartidas de manera eficiente. Ya sea que necesites reservar una sala de reuniones, un gimnasio o cualquier otro espacio común, Booking Manager está aquí para ayudarte a optimizar la experiencia de tu comunidad. ¡Únete a nosotros y descubre cómo podemos mejorar la gestión de tus espacios comunes hoy mismo!
            </p>

            {% if not user.is_authenticated %}
                <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
                    <a href="{% url 'register' %}" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-brand-blue hover:bg-blue-800 focus:ring-4 focus:ring-blue-300">
                        Únete ahora
                        <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </a>
                    <a href="{% url 'login' %}" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100">
                        Iniciar Sesión
                    </a>  
                </div>
            {% else %}
                <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
                    <a href="{% if user.administrator_profile %}{% url 'dashboard_admin' %}{% else %}{% url 'profile' %}{% endif %}" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-brand-blue hover:bg-blue-800 focus:ring-4 focus:ring-blue-300">
                        Ir a mi Panel
                    </a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}