{% extends "general/layout.html" %}

{% block head_title %}Home{% endblock %}

{% block content %}
    <h2>Bienvenido a Booking Manager tu gestor de espacios comunes de tu comunidad</h2>

    <p>
        En Booking Manager, nos dedicamos a facilitar la gestión de espacios comunes en tu comunidad. Nuestra plataforma intuitiva y fácil de usar te permite reservar, administrar y coordinar el uso de áreas compartidas de manera eficiente. Ya sea que necesites reservar una sala de reuniones, un gimnasio o cualquier otro espacio común, Booking Manager está aquí para ayudarte a optimizar la experiencia de tu comunidad. ¡Únete a nosotros y descubre cómo podemos mejorar la gestión de tus espacios comunes hoy mismo!
    </p>
    
{% endblock %}