<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}Document{% endblock head_title %}</title>
    <!-- 1. Cargar las etiquetas de Tailwind -->
    {% load tailwind_tags %}

    <!-- 2. Imprimir el link al archivo CSS compilado -->
    {% tailwind_css %}
</head>
<body class="flex flex-col min-h-screen bg-gray-50 font-sans antialiased">

    {% include '_includes/_header.html' %}
    
    <main class="flex-grow pt-24 pb-12 px-4 sm:px-6 lg:px-8 w-full max-w-7xl mx-auto">
        {% include '_includes/_messages.html' %}

        {% block content %}
        {% endblock %}
    </main>
    
    {% include '_includes/_footer.html' %}

    <!-- Script de flowbite para interactividad (que agregamos antes) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>