<ul>
    {% for booking in all_bookings %}
        <li>
            <strong>Usuario que hizo la reserva:</strong> {{ booking.user.first_name }} {{ booking.user.last_name }}
            - <strong>Departamento:</strong> {{ booking.user.resident_profile.department }} 
            - <strong>Espacio común reservado:</strong> {{ booking.resource.name }} 
            - <strong>Fecha del evento:</strong> {{ booking.event_date|date:"d/m/Y" }}
            <!-- Antes de agregar la siguiente línea, debo revisar la vista detalle para que solo puedan ser editadas por sus propietarios y no por cualquier usuario -->
            <a href="{% url 'reservation_detail' booking.pk %}">Ver detalle</a>
            
        </li>
    {% empty %}
        <p>No se encontraron reservas para este departamento.</p>
    {% endfor %}
</ul>